<div class="container-fluid">
    
    <div class="row">
        
        <div class="col-md-2">
            
            <p>
                Search: <input ng-model="$ctrl.query"/>
            </p>
            
            <!--<p>{{$ctrl.orderProp}}</p>-->
            
            <p>
                Sort by:
                <select ng-model="$ctrl.orderProp">
                    <option value="name">Alphabetic</option>
                    <option value="age">Newest</option>
                    
                    <!--<option value="-age">Oldest</option>-->
                    
                    <option value="mes">Welcome message</option>
                    <option value="snippet">Description</option>
                </select>
            </p> 
            
            <p> 
                <b>Descending</b> <input type="checkbox" ng-model="descend">
            </p>
            
        </div>
        
        <!-- <p>{{$ctrl.query}}</p> -->
        
        <div class="col-md-10">
            
            <ul class="phones"> 
                <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp:descend">
                    <span>{{phone.name}}</span>
                    <p>{{phone.snippet}}</p>
                    
                    <!-- Comment the following string for starting E2E test -->
                    <p>Welcome message from {{phone.name}}: Hello {{phone.mes}}</p>
                </li>
                <li>
                    <p><span style="color: red; font: bold">Note:</span> number of records not used repeater.</p>
                    <p>Number of records in list of phones: {{$ctrl.phones.length}}</p>
                </li>
            </ul>
            
        </div>
        
    </div>
    
</div>