body {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    margin-left: 40px;
}

.ended{
    font: bold;
    color:green;
}

li {
    margin-left: 20px;
}

p {
    font: italic;
    font-size: 14;
    margin-left: 20px;
}